body {
  margin: 0;
}

.App {
  text-align: center;
}

nav {
  position:absolute;
  top: 2px;
  right: 2px;
}

.searchBar {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

input {
  width: 300px !important;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  padding: 8px 12px;
  margin-left: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

div .cards {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
}

.card img {
  width: 245px;
  height: 346px;
}

.card p {
  color: black;
}

footer {
  position: absolute;
  bottom: 0;
}

.market {
  color: pink;
}

.low {
  color: rgb(121, 182, 29);
}

.mid {
  color: blue;
}

.high {
  color: red;
}